# Unity стандартные временные и кэш файлы
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# MemoryCaptures и записи
/[Mm]emoryCaptures/
/[Rr]ecordings/

# Asset Store Tools plugin
/[Aa]ssets/AssetStoreTools*

# JetBrains Rider plugin
/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio и Gradle кэш
.vs/
.gradle/

# Автогенерируемые файлы VS/MD/Consulo
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D мета файлы и краш-репорты
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt

# Игнорировать сборки и unitypackage файлы
*.apk
*.aab
*.unitypackage
*.app

# Crashlytics
crashlytics-build.properties

# Packed Addressables
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Временные автогенерируемые файлы для Android
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*

# Исключить большие ассеты, такие как текстуры
*.png
*.jpg
*.jpeg
*.tga
*.psd

# Исключить аудиофайлы
*.mp3
*.wav
*.ogg

# Исключить видео и другие большие медиафайлы
*.mp4
*.mov
*.avi

# Исключить 3D модели и другие крупные файлы ассетов
*.fbx
*.obj
*.blend

# Исключить кэшированные и временные файлы редактора
[Aa]ssets/AddressableAssetsData/*
[Aa]ssets/[Ss]ceneCache/*

# Включить только код и настройки проекта
!Assets/**/*.cs
!Assets/**/*.cs.meta
